# Node.js
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Docker files
Dockerfile
docker-compose.yml