<!DOCTYPE html>
<html>
  <head>
    <title><%= 'Whatsapp Gateway' %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="title">SCAN QR TO CONNECT</h1>
    <img id="qr" style="max-width: 500px" alt="QR NOT SHOWING" />

    <script src="/socket.io/socket.io.js"></script>
    <script></script>
  </body>
</html>
