<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Scan QR</title>
        <style>
            body {
                padding: 5rem;
            }
        </style>
    </head>
    <body>
        <div id="qrcode"></div>
        <script type="text/javascript">
            console.log('<%= qr %>')
            let qr = '<%= qr %>'
            let image = new Image()
            image.src = qr
            document.body.appendChild(image)
        </script>
    </body>
</html>
